@CHARSET "UTF-8";

body.mceContentBody {
	width: 528px;
}

#sitecontainer a img {
  border: 0px solid transparent;
}

#sitecontainer,
#sitecontainer h1,
#sitecontainer h2,
#sitecontainer h3,
#sitecontainer p,
#sitecontainer li,
body.mceContentBody h1,
body.mceContentBody h2,
body.mceContentBody h3,
body.mceContentBody p,
body.mceContentBody li {
	margin: 0px;
	padding: 0px;
	font-family: "Open Sans", Tahoma,Geneva,Helvetica,Arial,sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: normal;
	color: #505050;
}
#sitecontainer #content ul,
body.mceContentBody ul {
	margin: 4px 0px 0px 0px;
	padding: 0px 0px 0px 30px;
}

#sitecontainer h1,
body.mceContentBody h1 {
	font-size: 20px;
	line-height: 24px;
	margin: 18px 0px 4px 0px;
}
#sitecontainer h2,
body.mceContentBody h2 {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 4px;
	margin-top: 12px;
}
#sitecontainer h3,
body.mceContentBody h3 {
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 4px;
	margin-top: 8px;
}
#sitecontainer #content :first-child,
body.mceContentBody :first-child {
	margin-top: 0px;
}

#sitecontainer a {
	color: #505050;
	text-decoration: none;
}
#sitecontainer #content a,
body.mceContentBody a {
	text-decoration: underline;
}
#sitecontainer a:hover,
body.mceContentBody a:hover {
	color: #333;
	text-decoration: underline;
}
